$navbar-height-mobile: 120px;
$navbar-height: 66px;
$joystick-width: 10rem;
$joystick-height: 10rem;
$founder-img-width-mobile: 330px;
$founder-img-width: 400px;

@import "bootstrap.min.css";
@import "jquery.fullpage.min.css";

body *{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar {
    background-color: rgb(0, 47, 61);
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    li.nav-item {
        &.active {
            a.nav-link:not(.controller) {
                border-bottom: 1px solid #b77d2b;
            }
        }
        a.nav-link {
            color: white;
        }
    }
    .logo {
        height: $navbar-height-mobile;
        width: #{320/(100/$navbar-height-mobile)};
    }
    .controller {
        height: $navbar-height-mobile;
        width: #{457/(390/$navbar-height-mobile)};
        margin: 0 auto;
    }
    .nav-link {
        padding-top: 1.5rem;
    }
    .navbar-toggler {
        margin-right: 1rem;
        .navbar-toggler-icon {
            width: 3em;
            height: 3em;
        }
    }
}
h2 {
    font-size: 3em;
}
h4 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
    text-align: justify;
}
.bottom-info {
    font-size: 1.2em;
    .info {
        font-size: 0.5em;
    }
}
.navbar-nav {
    font-size: 2em;
}
.background-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &.background-1 {
        background-image: url(../image/background-1.jpg);
        background-position-y: 120px;
        background-color: rgb(0, 38, 39);
        background-size: cover;
    }
    &.background-2 {
        background-image: url(../image/background-2.jpg);
        background-color: rgb(255, 255, 255);
        background-size: cover;
    }
    &.background-3 {
        background-image: url(../image/background-3.jpg);
        background-color: linear-gradient(rgba(57, 35, 0, 0.9), rgba(129, 88, 24, 0.9));
        background-size: cover;
    }
    &.background-4 {
        background-image: url(../image/background-4.jpg);
        background-color: rgb(255, 255, 255);
        background-size: cover;
    }    
    &.founder-img {
        background-image: url(../image/founders.jpg);
        position: absolute;      
        width: $founder-img-width-mobile;
        height: #{2708/(2031/$founder-img-width-mobile)};
        top: calc(50% - #{2708/(2031/$founder-img-width-mobile)/2});
        left: calc(#{(200/12)}% - #{$founder-img-width-mobile/2});
    }
    &.logo {
        background-image: url(../image/logo.png);
    }
    &.controller {
        background-image: url(../image/controller.png);
    }
    &.signup_btn {
        background-image: url(../image/signup_btn.png);
    }
    &.idle_1 {
        background-image: url(../image/joystick_idle_1.svg);
    }
    &.idle_2 {
        background-image: url(../image/joystick_idle_2.svg);
    }
    &.up_1 {
        background-image: url(../image/joystick_up_1.svg);
    }
    &.up_2 {
        background-image: url(../image/joystick_up_2.svg);
    }
    &.down_1 {
        background-image: url(../image/joystick_down_1.svg);
    }
    &.down_2 {
        background-image: url(../image/joystick_down_2.svg);
    }
}
.section {
    padding: 0 10%;
    h2 {
        margin-bottom: 1rem;
    }
    .question-container {
        margin-bottom: 1.2rem;
        .question {
            margin-bottom: 0;
        }
        .answer {
            font-style: italic;
        }
    }
    &.project {
        //background-color: rgba(0, 38, 39, 0.8);
        color: white;
        .content-wrapper {
            //padding-top: $navbar-height;
            padding: 30px 0;
        }
        z-index: 5;
    }
    &.founder {
        color: black;
        padding-left: 0;
        padding-right: 0;
        .content-wrapper {
            // display: flex;
            .founder-img-container {
                .founder-img {
                    width: 350px;
                    height: 466px;

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .founder-description {
                padding: 0 5%;
                //width: 75%;
            }
        }
    }
    &.signup {
        //background: linear-gradient(90deg, rgba(129, 88, 24, 0.9), rgba(57, 35, 0, 0.8));
        color: white;
        .signup-form {
            width: 60%;
            .submit-container {
                display: flex;
                font-weight: bold;
                .signup_btn {
                    cursor: pointer;
                    width: 150px;
                    height: 62px;
                    background-color: transparent;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                    &[disabled] {
                        cursor: not-allowed;
                    }
                }
                .error-msg {
                    width: 20%;
                    flex-grow: 1;
                }
            }
        }
        z-index: 5;
    }
    &.faq {
        .fp-tableCell {
            vertical-align: top;
            .content-wrapper {
                padding-top: 15px;
            }
        }
    }
}
.empty-spacing {
    padding: 1rem;
}
.bottom-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.joystick-container {
    position: fixed;
    bottom: 0;
    right: $joystick-width;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    .half {
        position: absolute;
        width: $joystick-width;
        height: $joystick-width / 2;
        bottom: 0;
        &.top {
            bottom: $joystick-width / 2;
        }
    }
    .background-img {
        width: $joystick-width;
        height: $joystick-width;
        position: absolute;
        bottom: 0;
        &:not(.idle_2) {
            //display: none;
            visibility: hidden;
        }
    }
}
.alert {
    z-index: 10000;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background-color: rgba(212, 237, 218, 0.9);
    display: none;
}
.modal-header {
    background-color: #002f3d;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    button, button:hover {
        color: white;
    }
}
.modal-body {
    max-height: 60vh;
    overflow: auto;
}
.modal-footer {
    button {
        background-color: #002f3d;
        &:hover {
            background-color: #000d10;
        }
    }
}
// DON"T DO THIS LATER
@media (min-width: 992px) {
    .navbar-nav {
        font-size: 1rem;
    }
    .navbar {
        .logo {
            height: $navbar-height - 11;
            width: #{320/(100/($navbar-height - 11))};
        }
        .controller {
            height: $navbar-height - 11;
            width: #{457/(390/($navbar-height - 11))};
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    h2 {
        //font-size: 2rem;
        font-size: 3rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        //font-size: 0.8rem;
        font-size: 1.2rem;
    }
    .project p {
        font-size: 1.5rem;
    }
    .faq p {
        font-size: 1.2rem;
    }
    .bottom-info {
        font-size: 0.8rem;
        .info {
            font-size: 0.5rem;
        }
    }
    .background-img.background-1 {
        background-position-y: 56px;
    }
    .background-img.founder-img {
        width: $founder-img-width;
        height: #{2708/(2031/$founder-img-width)};
        top: calc(50% - #{2708/(2031/$founder-img-width)/2});
        left: calc(#{(200/12)}% - #{$founder-img-width/2});
    }
}